.text {
    color: rgb(127, 177, 218);
    display: block;
    font-weight: 400;
}
.contentText {
    display: inline;
    color: rgb(204, 204, 204);
    font-weight: 200;
    font-size: 15px;
}
.descriptionList > li:nth-child(n + 2) {
    margin-top: 15px;
}
.descriptionList > li:nth-child(-n + 3) {
    display: flex;
}
.descriptionList > li .text:nth-child(-n + 3) {
    margin-right: 10px;
}
.genreItem {
    display: inline;
    color: rgb(204, 204, 204);
    margin-right: 5px;
}
.genreItem::after {
    content: ', ';
}
.genreItem:last-child::after {
    content: '';
}
.genreItem:last-child {
    margin-right: 0;
}
