.formContainer {
    padding-top: 50px;
}
.Form {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
    border-radius: 4px;
    overflow: hidden;
    background-color: rgb(26, 39, 56);
    box-shadow: 3px 4px 5px rgb(0 0 0 / 50%);
}
.FormInput {
    display: inline-block;
    width: 100%;
    font: inherit;
    font-size: 20px;
    border: none;
    outline: none;
    padding-left: 24px;
    background-color: rgb(26, 39, 56);
    color: white;
}

.FormInput::placeholder {
    font: inherit;
    color: white;
    opacity: 0.5;
}
